<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Tetris</title>
</head>
<body>
  <div id="app"></div>

  <script id="tpl-menuLayout" type="template">
    <div id="tetrisBackground">
      <div id="verticalAlignWrapper">
        <div id="tetrisContent"></div>
      </div>
    </div>
  </script>
</body>
</html>
