{% set tetrisScreen = 'menu' %}

{% block main %}
  <div class="tetris-screen-{{ tetrisScreen }}">
    <div class="tetrisMenu-highScore"></div>
    <div class="tetrisMenu-menu"></div>
  </div>
{% endblock %}
