<div
  class="tetris-menuItem{{#if active}} tetris-activeMenuItem{{/if}}"
>
  <div class="tetris-menuItem-checkbox">
    {{#if enabled}}<div class="tetris-menuItem-activeCheckbox"></div>{{/if}}
  </div>
  {{ label }}
</div>